---
import SubmitButton from "../../components/SubmitButton.astro";
import Layout from "../../layouts/Layout.astro";

if (!Astro.locals.user) {
  return new Response("Only signed in user can post new content", {
    headers: {
      location: "/signin",
    },
    status: 302,
  });
}
---

<Layout title="AHA News - New post" loadPristine>
  <form
    id="new-post-form"
    x-data="{pristine: undefined}"
    x-init="$nextTick(() => { pristine = new Pristine($el)})"
    x-on:submit.prevent="submitPost($el, pristine)"
    hx-post="/api/posts"
    hx-swap="none"
    hx-trigger="my-submit"
    hx-ext="disable-element"
    hx-disabled-elt="#submit-post"
    class="form-control"
  >
    <div class="form-group">
      <label for="title" class="label">Title</label>
      <input
        type="text"
        class="w-full input input-bordered"
        id="title"
        name="title"
        required
      />
    </div>

    <div class="form-group">
      <label for="content" class="label">Text</label>
      <textarea
        rows="4"
        cols="49"
        name="content"
        id="content"
        class="w-full textarea textarea-bordered"
        required></textarea>
    </div>
    <div class="mt-5">
      <SubmitButton id="submit-post">Submit</SubmitButton>
    </div>
  </form>
</Layout>

<script>
  import htmx from "htmx.org";
  import type { Pristine } from "pristinejs";

  declare global {
    interface Window {
      submitPost: (form: HTMLFormElement, pristine: Pristine) => void;
    }
  }

  window.submitPost = (form, pristine) => {
    if (pristine.validate()) {
      htmx.trigger(form, "my-submit", null);
    }
  };
</script>
