---
import Layout from "../layouts/Layout.astro";
import PostListElement from "../components/PostListElement.astro";
import { listPosts } from "../contexts/Post";

const { user } = Astro.locals;
const posts = await listPosts(user);
---

<Layout title="AHA News" loadHtmx>
  <table>
    <tbody>
      {posts.map((post, i) => <PostListElement post={post} i={i} />)}
    </tbody>
  </table>
</Layout>
