---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Register" loadPristine loadAlpine>
  <h1 class="text-xl font-semibold mb-3">Register</h1>
  <p>Already have an account? <a href="/signin" class="link">Sign in</a></p>
  <form
    id="register-form"
    class="form-control"
    x-data="{pristine: undefined, showError: true}"
    x-init="$nextTick(() => { pristine = new Pristine($el) });"
    x-on:submit.prevent="showError = true; submitRegistration($el, pristine)"
    action="/api/auth/register"
    method="POST"
  >
    <div class="form-group">
      <label for="email" class="label">Email</label>
      <input
        type="email"
        class="w-full input input-bordered"
        name="email"
        id="email"
        required
      />
    </div>
    <div class="form-group">
      <label for="name" class="label">Username</label>
      <input
        type="text"
        class="w-full input input-bordered"
        name="name"
        id="name"
        required
      />
    </div>
    <div class="form-group">
      <label for="password" class="label">Password</label>
      <input
        type="password"
        class="w-full input input-bordered"
        name="password"
        id="password"
        required
        minlength="6"
      />
    </div>
    <div class="mt-5 w-full">
      <button type="submit" class="btn btn-neutral w-full">Sign up</button>
    </div>
  </form>
</Layout>
<script>
  import type { Pristine } from "pristinejs";
  declare global {
    interface Window {
      submitRegistration: (form: HTMLFormElement, pristine: Pristine) => void;
    }
  }

  window.submitRegistration = function (form, pristine) {
    if (pristine.validate()) {
      form.submit();
    }
  };
</script>
