---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<div id={id} class="loading-bar"></div>
<style>
  .loading-bar {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(
      90deg,
      transparent,
      #000,
      transparent,
      #000,
      transparent
    );
  }

  html[data-theme="dark"] .loading-bar {
    background: linear-gradient(
      90deg,
      transparent,
      #fff,
      transparent,
      #fff,
      transparent
    );
  }

  .htmx-request.loading-bar {
    opacity: 1;
    animation:
      fadeIn 0.5s linear forwards,
      slide 0.8s ease-in-out infinite;
  }
  @keyframes slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
