---
import FlashAlert from "../components/FlashAlert.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
interface Props {
  title: string;
  loadAlpine?: boolean;
  loadPristine?: boolean;
  loadHtmx?: boolean;
}

const { title, loadAlpine, loadPristine, loadHtmx } = Astro.props;
const cookieObject = Astro.cookies.get("theme");
const theme = cookieObject?.value;
---

<!doctype html>
<html lang="en" data-theme={theme}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    {loadPristine ? <script src="/pristine.js" /> : null}
    {loadAlpine ? <script src="/alpine.js" defer /> : null}
    {loadHtmx ? <script src="/htmx.js" crossorigin="anonymous" /> : null}
    <title>{title}</title>
    <style is:global>
      [x-cloak] {
        display: none !important;
      }
    </style>
  </head>
  <body>
    <FlashAlert />
    <div class="flex flex-row between">
      <div>
        <slot />
      </div>
      <ThemeToggle />
    </div>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    margin: 8px;
  }

  .text-help {
    @apply text-error;
  }

  .has-danger input {
    @apply input-error;
  }
</style>
